Package: ${build.finalName}
Version: ${project.version}
Section: misc
Priority: optional
Architecture: all
Depends: oracle-java8-installer | openjdk-8-jre
Maintainer: Daniel Beddoe <daniel.beddoe123@googlemail.com>
Description: Offer Service
Distribution: development